.progress-bar-container {
  background-color: rgba(255, 255, 255, 0.3);
  height: 4px;
  border-radius: 4px;
  margin: 0 2px;
  flex: 1;
  overflow: hidden;
}

.progress-bar {
  background-color: #fff;
  height: 100%;
  border-radius: 4px;
  transition: width 0.1s linear;
}

.active .progress-bar {
  background-color: #fff;
}

.animated {
  will-change: width;
}